<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <plugin interceptor="com.dangdang.commons.pagination.interceptor.PaginationInterceptor">
            <property name="databaseType" value="MYSQL"/>
        </plugin>
    </plugins>
</configuration>
