@charset "utf-8";
.publish_wrap {margin:0 auto;width:960px;color:#404040;font:12px/18px "\5b8b\4f53",Arial; }
.publish_wrap a{ text-decoration:none; color:#1a66b3; }
.publish_wrap a:hover{text-decoration:underline}
.publish_wrap .imageElement{font-size:0;line-height:0;overflow:hidden;}
.publish_wrap .hidden {display:none;}

.top_banner {font-size:0;line-height:0;margin:0 auto;overflow:hidden;width:960px;}
.top_banner p {margin-top:10px;}

.breadcrumb {height:18px;overflow:hidden;padding:14px 0 4px;width:960px;padding:15px 0 3px\9;}
.breadcrumb span {color:#404040;padding:0 8px;}
.breadcrumb .current {color:#666;padding:0;}
.breadcrumb .keyword {font-size:14px;font-weight:bold;}
.breadcrumb em {color:#c30;font-weight:bold;padding:0 8px;}
.breadcrumb .righttip {float:right;padding:0;}
.breadcrumb .righttip a {padding:0 5px;}

.publish_siderbar{float:left;margin-top:10px;width:190px;}

.category_panel {border:1px solid #f7d1b5;margin-bottom:10px;padding:1px;position:relative;width:186px;}
.category_panel h2 {background:#f99133;color:#fff;font-size:14px;font-weight:bold;height:18px;padding:4px 0 4px 11px;padding:5px 0 3px 11px\9;}
.category_panel .corner {background:url(/images/bg_category_panel.png) no-repeat;position:absolute;}
.category_panel .left_top {background-position:0 -23px;height:3px;left:-1px;top:-1px;width:3px;}
.category_panel .right_top {background-position:0 -32px;height:3px;right:-1px;top:-1px;width:3px;}
.category_panel .left_bottom {background-position:0 -41px;height:2px;bottom:-1px;left:-1px;width:2px;}
.category_panel .right_bottom {background-position:0 -50px;height:2px;bottom:-1px;right:-1px;width:2px;}
.category_panel_content {position:relative;overflow:hidden;width:186px;}
.category_panel .unfold {height:332px;}
.category_panel_content h3 {background:url(/images/bg_category_panel.png) repeat-x 0 0;border-bottom:1px solid #ebebeb;color:#1a66b3;height:23px;overflow:hidden;}
.category_panel_content .last {margin-bottom:1px;}
.category_panel_content h3 a {display:block;height:18px;position:relative;padding:3px 0 2px 25px;padding:4px 0 1px 25px\9;}
.category_panel_content h3 a span {cursor:pointer;display:inline-block;font-weight:bold;}
.category_panel_content .icon {background:url(/images/bg_category_panel.png) no-repeat -5px -32px;height:9px;left:11px;width:9px;position:absolute;top:7px;}
.category_panel_content .active .icon {background-position:-5px -23px;}
.category_panel_content .none,.category_panel_content .active .none{background-position:-5px -41px;}
.category_panel_content .current span,.category_panel_content .current a:hover,.category_panel_content .current a:hover span,.category_panel_content a.current:hover,.category_panel_content a.current:hover span  {color:#7c470f;cursor:default;font-weight:bold;text-decoration:none;}
.category_panel_content ul {padding:4px 0 3px 25px;position:relative;}
.category_panel_content li {vertical-align:middle;padding:1px 0;}
.category_panel_subcontent {border-bottom:1px solid #ebebeb;overflow-x:hidden;overflow-y:auto;position:relative;width:186px;}
.category_panel_content .btn {background:#ffedd0;bottom:0;color:#666;display:block;height:18px;left:0;padding:4px 0 1px 74px;position:relative;width:112px;padding:5px 0 0 74px\9;}
.category_panel_content a.btn:hover {text-decoration:none;}
.category_panel_content .btn span {cursor:pointer;display:inline-block;}
.category_panel_content .btn_icon {background:url(/images/bg_category_panel.png) no-repeat;height:5px;left:61px;position:absolute;top:11px;width:9px;}
.category_panel_content .icon_down {background-position:-5px -50px;}
.category_panel_content .icon_up{background-position:-5px -55px;}
.category_panel_content .max{height:187px;}
.category_panel_subcontent .current {color:#7c470f;cursor:default;font-weight:bold;}
.category_panel_subcontent a.current:hover {text-decoration:none;}

.declined_biggest {border:1px solid #e0e0e0;margin-bottom:10px;padding:1px;position:relative;width:186px;}
.declined_biggest h2 {background:url(/images/bg_siderbar_module.png) repeat-x 0 -6px;color:#404040;font-weight:bold;height:18px;padding:4px 0 4px 11px;padding:5px 0 3px 11px\9;}
.declined_biggest .corner {background:url(/images/bg_siderbar_module.png) no-repeat;position:absolute;}
.declined_biggest .left_top {background-position:0 0;height:3px;left:-1px;top:-1px;width:3px;}
.declined_biggest .right_top {background-position:0 -3px;height:3px;right:-1px;top:-1px;width:3px;}
.declined_biggest_content {border:1px solid #f4f4f4;padding:4px 4px 0 4px;}
.declined_biggest_content ul {}
.declined_biggest_content ul li {background:url(/images/bg_siderbar_module.png) no-repeat 6px -45px;border-top:1px solid #f4f4f4;color:#666;display:block;height:18px;padding:5px 0 5px 15px;overflow:hidden;vertical-align:middle;width:161px;padding:6px 0 4px 15px\9;}
.declined_biggest_content ul li.first {border:none;}
.declined_biggest_content ul li span {float:left;height:18px;overflow:hidden;width:108px;}
.declined_biggest_content ul li.active {background:none;height:56px;padding:11px 0 11px 6px;width:170px;}
.declined_biggest_content ul .active .pic {border:1px solid #ddd;float:left;height:54px;width:54px;}
.declined_biggest_content ul .active .pic a {display:block;height:54px;overflow:hidden;text-align:center;width:54px;}
.declined_biggest_content ul .active .detail {float:left;overflow:hidden;padding-left:8px;width:96px;}
.declined_biggest_content ul .active .detail a {color:#666;display:block;height:36px;overflow:hidden;}
.declined_biggest_content ul .active .detail a:hover {color:#f60;}
.declined_biggest_content ul .active .detail .description {color:#878787;margin-top:3px;}
.declined_biggest_content ul .active .detail .description span {width:auto;}
.declined_biggest_content ul li .down {background:url(/images/bg_siderbar_module.png) no-repeat 0 -32px;color:#c30;float:right;height:18px;overflow:hidden;padding:0 7px 0 9px;width:18px;padding:1px 7px 0 9px\9;}
.declined_biggest_content ul .active .detail .description .down {float:left;margin-left:5px;}


.others_attention {border:1px solid #e0e0e0;margin-bottom:10px;padding:1px;position:relative;width:186px;}
.others_attention h2 {background:url(/images/bg_siderbar_module.png) repeat-x 0 -6px;color:#404040;font-weight:bold;height:18px;padding:4px 0 4px 11px;padding:5px 0 3px 11px\9;}
.others_attention .corner {background:url(/images/bg_siderbar_module.png) no-repeat;position:absolute;}
.others_attention .left_top {background-position:0 0;height:3px;left:-1px;top:-1px;width:3px;}
.others_attention .right_top {background-position:0 -3px;height:3px;right:-1px;top:-1px;width:3px;}
.others_attention_content {border:1px solid #f4f4f4;padding:4px 4px 0 4px;}
.others_attention_content ul {}
.others_attention_content ul li {background:url(/images/bg_siderbar_module.png) no-repeat 6px -45px;border-top:1px solid #f4f4f4;color:#666;display:block;height:18px;padding:5px 0 5px 15px;overflow:hidden;vertical-align:middle;width:161px;padding:6px 0 4px 15px\9;}
.others_attention_content ul li.first {border:none;}
.others_attention_content ul li.active {background:none;height:56px;padding:11px 0 11px 6px;width:170px;}
.others_attention_content ul .active .pic {border:1px solid #ddd;float:left;height:54px;width:54px;}
.others_attention_content ul .active .pic a {display:block;height:54px;overflow:hidden;text-align:center;width:54px;}
.others_attention_content ul .active .detail {float:left;overflow:hidden;padding-left:8px;width:96px;}
.others_attention_content ul .active .detail a {color:#666;display:block;height:36px;overflow:hidden;}
.others_attention_content ul .active .detail a:hover {color:#f60;}
.others_attention_content ul .active .detail .price {margin-top:2px;width:96px;}
.others_attention_content ul .active .detail .price_d {color:#c30;font-family:Arial;}
.others_attention_content ul .active .detail .price_d em {padding-left:1px;}
.others_attention_content ul li span {display:block;height:18px;overflow:hidden;width:156px;}

.search_history {border:1px solid #e0e0e0;margin-bottom:10px;padding:1px;position:relative;width:186px;}
.search_history h2 {background:url(/images/bg_siderbar_module.png) repeat-x 0 -6px;color:#404040;font-weight:bold;height:18px;padding:4px 0 4px 11px;padding:5px 0 3px 11px\9;}
.search_history .corner {background:url(/images/bg_siderbar_module.png) no-repeat;position:absolute;}
.search_history .left_top {background-position:0 0;height:3px;left:-1px;top:-1px;width:3px;}
.search_history .right_top {background-position:0 -3px;height:3px;right:-1px;top:-1px;width:3px;}
.search_history_content {overflow:hidden;padding:4px 8px 0 8px;width:170px;}
.search_history_content ul {}
.search_history_content ul li {background:url(/images/bg_siderbar_module.png) no-repeat 6px -45px;color:#666;display:block;height:18px;padding:5px 0 5px 13px;overflow:hidden;position:relative;vertical-align:middle;padding:6px 0 4px 13px\9;}
.search_history_content ul li .num {background:url(/images/bg_list_num.png) no-repeat 0 0;color:#fff;display:inline-block;font:11px/12px Arial;height:12px;left:6px;position:absolute;text-align:center;top:8px;width:12px;}
.search_history_content ul li a {color:#666;display:inline-block;height:18px;overflow:hidden;width:156px;}
.search_history_content ul li a:hover {color:#f60;}
.search_history_content ul li.search_history_btn {background:none;border-top:1px solid #dadada;padding-right:5px;text-align:right;}
.search_history_content .nohistory_wrapper {display:table;float:left;height:57px;overflow:hidden;width:170px;*position:relative;}
.search_history_content .nohistory_content {display:table-cell;vertical-align:middle;*position:absolute;*top:50%;}
.search_history_content .nohistory {*position:relative;*top:-50%;}
.search_history_content .nohistory p {color:#666;text-align:center;width:170px;}


.browsing_history {border:1px solid #e0e0e0;margin-bottom:10px;padding:1px;position:relative;width:186px;}
.browsing_history h2 {background:url(/images/bg_siderbar_module.png) repeat-x 0 -6px;color:#404040;font-weight:bold;height:18px;padding:4px 0 4px 11px;padding:5px 0 3px 11px\9;}
.browsing_history .corner {background:url(/images/bg_siderbar_module.png) no-repeat;position:absolute;}
.browsing_history .left_top {background-position:0 0;height:3px;left:-1px;top:-1px;width:3px;}
.browsing_history .right_top {background-position:0 -3px;height:3px;right:-1px;top:-1px;width:3px;}
.browsing_history_content {border:1px solid #f4f4f4;overflow:hidden;padding:4px 4px 0 4px;width:176px;}
.browsing_history_content ul {}
.browsing_history_content ul li {border-top:1px solid #f4f4f4;color:#666;display:block;height:56px;padding:10px 0 10px 6px;overflow:hidden;vertical-align:middle;width:170px;}
.browsing_history_content ul li.first {border:none;}
.browsing_history_content ul li .pic {border:1px solid #ddd;float:left;height:54px;width:54px;}
.browsing_history_content ul li .pic a {display:block;height:54px;overflow:hidden;text-align:center;width:54px;}
.browsing_history_content ul li .detail {float:left;overflow:hidden;padding-left:8px;width:96px;}
.browsing_history_content ul li .detail a {color:#666;display:block;height:36px;overflow:hidden;}
.browsing_history_content ul li .detail a:hover {color:#f60;}
.browsing_history_content ul li .detail .price {margin-top:2px;width:96px;}
.browsing_history_content ul li .detail .price_d {color:#c30;font-family:Arial;}
.browsing_history_content ul li .detail .price_d em {padding-left:1px;}
.browsing_history_content ul li.browsing_history_btn {height:18px;overflow:hidden;padding:2px 7px 4px 0;text-align:right;padding:3px 7px 3px 0\9;}
.browsing_history_content ul li.browsing_history_btn a {color:#666;float:right;}
.browsing_history_content ul li.browsing_history_btn a:hover {color:#f60;}
.browsing_history_content .nohistory_wrapper {display:table;float:left;height:101px;overflow:hidden;width:170px;*position:relative;}
.browsing_history_content .nohistory_content {display:table-cell;vertical-align:middle;*position:absolute;*top:50%;}
.browsing_history_content .nohistory {*position:relative;*top:-50%;}
.browsing_history_content .nohistory p {color:#666;text-align:center;width:170px;}

.search_toplist {border:1px solid #e0e0e0;margin-bottom:10px;padding:1px;position:relative;width:186px;}
.search_toplist h2 {background:url(/images/bg_siderbar_module.png) repeat-x 0 -6px;color:#404040;font-weight:bold;height:18px;padding:4px 0 4px 11px;padding:5px 0 3px 11px\9;}
.search_toplist .corner {background:url(/images/bg_siderbar_module.png) no-repeat;position:absolute;}
.search_toplist .left_top {background-position:0 0;height:3px;left:-1px;top:-1px;width:3px;}
.search_toplist .right_top {background-position:0 -3px;height:3px;right:-1px;top:-1px;width:3px;}
.search_toplist_content {border:1px solid #f4f4f4;padding:4px 4px 0 4px;}
.search_toplist_content ul {}
.search_toplist_content ul li {border-top:1px solid #f4f4f4;color:#666;display:block;height:18px;padding:5px 0 5px 22px;overflow:hidden;position:relative;vertical-align:middle;width:154px;padding:6px 0 4px 22px\9;}
.search_toplist_content ul li.first {border-top:none;}
.search_toplist_content ul li .num {background:url(/images/bg_list_num.png) no-repeat 0 0;color:#fff;display:inline-block;font:11px/12px Arial;height:12px;left:6px;position:absolute;text-align:center;top:8px;width:12px;}
.search_toplist_content ul li a {color:#666;display:inline-block;height:18px;overflow:hidden;width:144px;}
.search_toplist_content ul li a:hover {color:#f60;}
.search_toplist_content ul li .search_toplist_btn {padding-left:5px;text-align:right;}

/*搜索左侧站外摩天楼*/
.schleft_tabad {color: #404040;position: relative;margin-bottom:10px; overflow:hidden; width:190px;}
.schleft_tabad_title { overflow:hidden; width:188px;background:url(/images/sprite_ad.png) repeat-x 0 0;border-left:1px solid #dcdddd;border-right:1px solid #dcdddd;}
.schleft_tabad_title li { padding-left:10px; height:30px; line-height:30px; float:left;}
.schleft_tabad_title a {display:block;color:#404040; cursor:default; text-decoration:none; font-weight:bold;}
.schleft_tabad2 li,.schleft_tabad3 li,.schleft_tabad4 li {width:93px; padding:0;text-align:center;border-left:1px solid #dcdddd;}
.schleft_tabad2 li a,.schleft_tabad3 li a,.schleft_tabad4 li a { font-weight:normal;}
.schleft_tabad2 li a:hover,.schleft_tabad2 li a.active,.schleft_tabad3 li a:hover,.schleft_tabad3 li a.active,.schleft_tabad4 li a:hover,.schleft_tabad4 li a.active{ font-weight:bold; height:29px; line-height:28px; background:#fff; margin-top:1px; text-decoration:none;color:#404040;}
.schleft_tabad_title .tabad_first,.schleft_tabad_title .tabad_first a:hover,.schleft_tabad_title .tabad_first a.active{ border:none; width:94px; padding-right:0;}
.schleft_tabad3{ width:189px; border-left:none;}
.schleft_tabad3 li{width:62px;}
.schleft_tabad4 li{width:46px;}
.schleft_tabad4 .tabad_first,.schleft_tabad4 .tabad_first a:hover,.schleft_tabad4 .tabad_first a.active { border:none;width:46px; padding-right:1px;_width:47px;_padding-right:0;}
.schleft_tabad_cont{ position:relative; width:188px; height:270px; overflow:hidden;border:1px solid #dcdddd; border-top:none;}

/*搜索左侧站内摩天楼*/
.list_left_ad{ width:188px; overflow:hidden;border: 1px solid #dcdddd;margin-bottom: 10px; position:relative;}
.list_left_ad a{ width:188px; height:270px; display:block; overflow:hidden; text-align:center;}
.icon_ad{background:url(/images/sprite_ad.png) no-repeat 0 -30px; bottom:0; display:block; height:14px; line-height:48px; overflow:hidden; position:absolute; right:0; width:38px; z-index:400;}

.merchants_hotsale {border:1px solid #e0e0e0;margin-bottom:10px;padding:1px;position:relative;width:186px;}
.merchants_hotsale h2 {background:url(/images/bg_merchants_hotsale.png) repeat-x 0 -6px;color:#404040;font-weight:bold;height:18px;padding:4px 0 4px 11px;padding:5px 0 3px 11px\9;}
.merchants_hotsale .corner {background:url(/images/bg_merchants_hotsale.png) no-repeat;position:absolute;}
.merchants_hotsale .left_top {background-position:0 0;height:3px;left:-1px;top:-1px;width:3px;}
.merchants_hotsale .right_top {background-position:0 -3px;height:3px;right:-1px;top:-1px;width:3px;}
.merchants_hotsale_content {background:#e5e5e5;padding:3px;overflow:hidden;width:180px;}
.merchants_hotsale_content ul {}
.merchants_hotsale_content ul li {border-top:1px solid #d2d2d2;color:#666;display:block;overflow:hidden;padding:12px;width:156px;}
.merchants_hotsale_content ul li.first {border-top:none;}
.merchants_hotsale_content ul li .pic{border:1px solid #d2d2d2;height:120px;margin:0 17px;overflow:hidden;width:120px;}
.merchants_hotsale_content ul li .pic a {background:#fff;display:block;height:120px;overflow:hidden;text-align:center;width:120px;}
.merchants_hotsale_content ul li .price{margin-top:3px;text-align:center;}
.merchants_hotsale_content ul li .price .price_d {color:#666;font-family:Arial;font-weight:bold;}
.merchants_hotsale_content ul li .price .price_d em {padding-left:1px;}
.merchants_hotsale_content ul li .detail {width:156px;}
.merchants_hotsale_content ul li .detail a {color:#666;}
.merchants_hotsale_content ul li.merchants_hotsale_btn {padding:7px 8px 4px 0;width:172px;padding:8px 8px 3px 0\9;}
.merchants_hotsale_content ul li.merchants_hotsale_btn a {color:#666;display:block;text-align:right;}
.merchants_hotsale_content ul li a:hover {color:#f60;}

.publish_main{float:right;margin-top:10px;overflow:hidden;width:760px;}

.concordance_top {height:18px;overflow:hidden;padding:7px 0 6px 9px;padding:8px 0 5px 9px\9;}
.concordance_top p {height:18px;overflow:hidden;}
.concordance_top a {margin-right:30px;}

.slide_ad {background:url(/images/bg_slide_ad.png) repeat-x 0 -56px;border:1px solid #edd8b0;height:116px;margin-bottom:10px;position:relative;width:758px;}
.slide_ad .corner {background:url(/images/bg_slide_ad.png) no-repeat;position:absolute;}
.slide_ad .left_top {background-position:0 0;height:5px;left:-1px;top:-1px;width:5px;}
.slide_ad .right_top {background-position:-5px 0;height:5px;right:-1px;top:-1px;width:5px;}
.slide_ad .left_bottom {background-position:0 -5px;height:5px;bottom:-1px;left:-1px;width:5px;}
.slide_ad .right_bottom {background-position:-5px -5px;height:5px;bottom:-1px;right:-1px;width:5px;}
.slide_ad .icon {background:url(/images/bg_slide_ad.png) no-repeat 0 -11px;height:45px;left:0;position:absolute;top:0;width:45px;}
.slide_ad .btn_prev {float:left;height:72px;overflow:hidden;margin-top:45px;position:relative;width:39px;}
.slide_ad .btn_prev span {background:url(/images/bg_slide_ad.png) no-repeat -10px 0;display:block;height:11px;left:15px;overflow:hidden;position:absolute;top:8px;width:6px;}
.slide_ad .btn_next{float:right;height:116px;overflow:hidden;position:relative;width:39px;}
.slide_ad .btn_next span {background:url(/images/bg_slide_ad.png) no-repeat -16px 0;display:block;height:11px;overflow:hidden;position:absolute;right:17px;top:52px;width:6px;}
.slide_ad .bof,.slide_ad .eof {cursor:default;}
.slide_ad .bof span  {background:url(/images/bg_slide_ad.png) no-repeat -22px 0;}
.slide_ad .eof span  {background:url(/images/bg_slide_ad.png) no-repeat -28px 0;}
.slide_ad_content {height:116px;overflow:hidden;width:760px;}
.slide_ad_content .slideitem {float:left;margin:12px 0 12px 28px;overflow:hidden;width:208px;}
.slide_ad_content .first {margin-left:0;}
.slide_ad_content .slideitem .pic {border:1px solid #e0e0e0;float:left;height:90px;width:90px;}
.slide_ad_content .slideitem .pic a {display:block;height:90px;overflow:hidden;text-align:center;width:90px;}
.slide_ad_content .slideitem .detail {float:left;margin-left:8px;overflow:hidden;width:108px;}
.slide_ad_content .slideitem .detail .title {height:54px;margin-bottom:3px;overflow:hidden;width:108px;}
.slide_ad_content .slideitem .detail .title .tip {color:#666;display:block;}
.slide_ad_content .slideitem .detail .title span {cursor:default;}
.slide_ad_content .slideitem .detail .title a.tip:hover {color:#f60;}
.slide_ad_content .slideitem .detail .price {height:18px;overflow:hidden;width:108px;}
.slide_ad_content .slideitem .detail .price .price_m{background:url(/images/bg_price_del.png) repeat-x 0 9px;color:#9c9c9c;font-family:Arial;font-size:11px;}
.slide_ad_content .slideitem .detail .price .price_d{color:#c30;font-family:Arial;font-weight:bold;}
.slide_ad_content .slideitem .detail .price .price_d em{padding-left:1px;}


.filterbar {background:url(/images/filterbar.png) repeat-x 0 -92px;border:1px solid #f99439;border-top-width:2px;border-bottom-color:#c3c3c3;height:38px;position:relative;width:758px;}
.filterbar .border {background:url(/images/filterbar.png) no-repeat;height:41px;position:absolute;top:-2px;width:2px;}
.filterbar .left {background-position:-60px -46px;left:-1px;}
.filterbar .right {background-position:-65px -46px;right:-1px;}
.filterbar .filter_panel {padding:7px 8px;height:23px;}
.filterbar .btn_filter {float:left;}
.filterbar .btn_filter .search_tip {float:left;height:18px;overflow:hidden;padding:3px 0 2px;padding:4px 0 1px\9;}
.filterbar .btn_filter a {background:url(/images/filterbar.png) no-repeat right 0;float:left;height:23px;margin: 0 3px;padding-right:6px;}
.filterbar .btn_filter a .text{background:url(/images/filterbar.png) no-repeat -93px -46px;color:#666;cursor:pointer;float:left;height:18px;overflow:hidden;padding:3px 0 2px 7px;padding:4px 0 1px 7px\9;}
.filterbar .btn_filter a .arrow {cursor:pointer;float:left;height:23px;margin:0 0 0 3px;width:7px;}
.filterbar .btn_filter a .down {background:url(/images/filterbar.png) no-repeat 0 -46px;}
.filterbar .btn_filter a .up {background:url(/images/filterbar.png) no-repeat -10px -46px;}
.filterbar .btn_filter a:hover {background:url(/images/filterbar.png) no-repeat right -23px;text-decoration:none;}
.filterbar .btn_filter a:hover .text{background:url(/images/filterbar.png) no-repeat -93px -69px;color:#007130;}
.filterbar .btn_filter a.active,.filterbar .btn_filter a.active:hover {background:url(/images/filterbar.png) no-repeat right -23px;color:#404040;cursor:default;}
.filterbar .btn_filter a.active .text,.filterbar .btn_filter a.active:hover .text {background:url(/images/filterbar.png) no-repeat -93px -69px;color:#404040;cursor:default;}
.filterbar .btn_filter a:hover .down,.filterbar .btn_filter a.active .down{background:url(/images/filterbar.png) no-repeat 0 -69px;}
.filterbar .btn_filter a:hover .up,.filterbar .btn_filter a.active .up {background:url(/images/filterbar.png) no-repeat -10px -69px;}
.filterbar .page_Simplified {float:right;overflow:hidden;padding-top:3px;width:114px;}
.filterbar .page_Simplified span {color:#404040;float:right;font-weight:bold;font-family:Arial;height:18px;padding:0 5px;}
.filterbar .page_Simplified a {background:url(/images/filterbar.png) no-repeat;float:right;height:18px;line-height:54px;width:18px;}
.filterbar .page_Simplified a.prevpage {background-position:-20px -46px;}
.filterbar .page_Simplified a.nextpage {background-position:-40px -46px;}
.filterbar .page_Simplified a.bof {background-position:-20px -65px;cursor:default;}
.filterbar .page_Simplified a.eof {background-position:-40px -65px;cursor:default;}
.filterbar .check_filter {float:right;height:23px;overflow:hidden;}
.filterbar .check_filter .checkitem {float:left;height:18px;padding:3px 0 2px;position:relative;padding:4px 0 1px\9;}
.filterbar .check_filter .checkitem input {display:inline-block;height:18px;left:0;position:absolute;top:3px;}
.filterbar .check_filter .checkitem label {display:inline-block;height:18px;margin:0 25px 0 20px;}

.brief_tip {border:1px solid #e0e0e0;cursor:default;height:18px;margin:10px 0 5px;overflow:hidden;padding:7px 0 5px 8px;width:750px;padding:8px 0 4px 8px\9;}
.brief_tip p {color:#878787;}

.resultlist {overflow:hidden;width:760px;}
.resultlist ul {width:760px;}
.resultlist li {border-bottom:1px solid #ddd;display:block;overflow:hidden;vertical-align:middle;padding:18px 10px 14px;width:740px;}
.resultlist .listitem {float:left;display:inline;line-height:18px;}
.resultlist .pic {margin:2px 0;position:relative;width:150px;height:150px;border:1px solid #ddd;}
.resultlist .pic a {display:block;width:150px;height:150px;overflow:hidden;text-align:center;}
.resultlist .pic img {margin:0 auto;border:none;}
.resultlist .pic .label {position:absolute;right:-6px;top:-6px;}
.resultlist .detail {overflow:hidden;padding-left:12px;width:576px; float:right;}
.resultlist .tiplist {overflow:hidden;width:576px;}
.resultlist .tiplist li {border:none;padding:0;width:576px; height:auto;}
.resultlist .tiplist .maintitle {height:20px;font-size:14px;line-height:19px\9;}
.resultlist .tiplist .maintitle .item_icon {height:18px;margin-right:5px;overflow:hidden;position:relative;top:2px;}
.resultlist .tiplist .maintitle .keyword {float:none;margin:0;color:#c30;font-weight:bold;}
.resultlist .tiplist .maintitle .btn_icon {height:13px;margin-left:5px;overflow:hidden;position:relative;top:2px;width:13px;}
.resultlist .tiplist .maintitle a.btn_icon img {cursor:pointer;}
.resultlist .tiplist .subtitle {height:27px;color:#666;font-size:12px;}
.resultlist .tiplist .subtitle p {padding:2px 0 7px;background:url(/images/dashed_underline.png) repeat-x bottom left;}
.resultlist .tiplist .starlevel {color:#666;height:18px;padding-top:8px;}
.resultlist .tiplist .starlevel .comment_star {position:relative;top:1px;}
.resultlist .tiplist .publisher_info {color:#666;height:18px;overflow:hidden;height:17px\9;padding-top:1px\9;}
.resultlist .tiplist .describ {color:#878787;height:36px;margin-top:2px;height:33px\9;padding-top:3px\9;}
.resultlist .tiplist .describ p {color:#878787;font-size:12px;height:36px;line-height:18px;}
.resultlist .tiplist .panel {float:right;margin-top:8px;}
.resultlist .tiplist .operate {height:23px;overflow:hidden;width:158px;}
.resultlist .tiplist .operate a {display:inline;float:left;margin-left:8px;height:23px;width:71px;}
.resultlist .tiplist .price {height:18px;overflow:hidden;padding:3px 0 2px;}
.resultlist .tiplist .price .price_d {color:#c30;font-family:Arial;font-weight:bold;}
.resultlist .tiplist .price em{padding-left:1px;}
.resultlist .tiplist .price .price_m {background:url(/images/bg_price_del.png) repeat-x 0 9px;color:#9c9c9c;font-family:Arial;margin-left:10px;}
.resultlist .tiplist .price .discount {color:#5ea593;margin:0;padding-left:8px;}
.resultlist .tiplist .price .minus {color:#c30;font-weight:bold;padding:0 5px;}
.resultlist .tiplist .e-book { height:18px; padding:3px 13px 2px 19px; overflow:hidden; background:url(/images/e-book_20110830.gif) no-repeat 0 2px; *background-position:0 1px;}


.listitem .overlay,.listitem .overlay1 {display:none;position:absolute; bottom:0; left:0;height:22px; width:150px;overflow:hidden;text-align:left;}
.listitem .overlay {background-image:url(/images/overlay_bg.png); *filter:alpha(opacity=70); *background:#fff;}
.listitem .overlay1 p {margin:0 auto;width:150px;color:#d37c54;line-height:18px;*vertical-align:middle;vertical-align:text-bottom\0;}
.listitem .overlay1 p span,.listitem .overlay1 p a {display:inline-block;color:#d37c54;font:12px/18px "\5b8b\4f53";}
.listitem .overlay1 p span {height:14px;overflow:hidden;padding:3px 0 3px 3px;width:22px;padding-top:4px\9;}
.listitem .overlay1 p a {padding:2px 1px 1px;width:120px;height:18px;}
.listitem .overlay1 p a:hover {color:#1a66b3;text-decoration:none;}


.paginating {cursor:default;font-size:12px;height:23px;line-height:23px;overflow:hidden;padding:10px 0 12px;}
.pagepanel {display:inline;float:right;height:23px;}
.pagepanel a,.pagepanel span {color:#969696;cursor:default;float:right;font-size:12px;height:23px;line-height:23px;margin-left:5px;text-align:center;}
.pagepanel a,.pagepanel .pagebtn {background:url(/images/paginating.png) no-repeat right 0;color:#1a66b3;padding-right:7px;text-decoration:none;}
.pagepanel a span,.pagepanel .pagebtn span {background:url(/images/paginating.png) no-repeat -57px -25px;color:#1a66b3;cursor:pointer;display:inline-block;float:none;font-size:14px;font-family:Arial;margin:0;padding-left:7px;}
.pagepanel a:hover,.pagepanel .current,.pagepanel .current:hover {background:url(/images/paginating.png) no-repeat right -50px;cursor:pointer;text-decoration:none;}
.pagepanel a:hover span,.pagepanel .current span,.pagepanel .current:hover span {background:url(/images/paginating.png) no-repeat -57px -75px;color:#fff;cursor:pointer;font-weight:bold;}
.pagepanel .current,.pagepanel .current:hover,.pagepanel .current span,.pagepanel .current:hover span  {cursor:default;}
.pagepanel .pagebtn span {font-weight:bold;font-size:12px;*padding-top:1px;padding-top:2px\0}
.pagepanel .disabled,.pagepanel .disabled span,.pagepanel .disabled:hover,.pagepanel .disabled:hover span{color:#878787;cursor:default;font-weight:bold;}
.pagepanel .disabled:hover {background:url(/images/paginating.png) no-repeat right 0;}
.pagepanel .disabled:hover span{background:url(/images/paginating.png) no-repeat -57px -25px;}
.pageform {display:inline;float:right;padding:2px 0 0;overflow:hidden;width:190px;}
.pageform span {color:#969696;cursor:default;display:inline;float:right;height:20px;line-height:20px;margin-left:5px;padding-top:1px;}
.pageform input {border:1px solid #ccc;display:inline;float:right;height:16px;line-height:16px;margin-left:5px;width:34px;}
.pageform a,.pageform a:hover {background:url(/images/paginating.png) no-repeat 0 -100px;color:#666;display:inline;float:right;font:12px/20px "\5b8b\4f53";height:20px;margin-left:5px;width:38px;padding-top:1px;text-align:center;text-decoration:none;}

.most_concern {background:#fafaf9;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;height:18px;margin:8px 0 10px;padding:11px 0 10px 15px;padding:12px 0 9px 15px\9;}
.most_concern p {height:18px;overflow:hidden;}
.most_concern a {margin-right:30px;}

.concordance_bottom{background:#fafaf9;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;margin:8px 0 10px;padding:9px 40px 10px;}
.concordance_bottom p {height:18px;overflow:hidden;padding:2px 0 1px;padding:3px 0 0\9;}
.concordance_bottom p a {margin-right:30px;}
.concordance_bottom .search_form {padding-top:10px;}
.concordance_bottom .search_form input {background:#fff;border:1px solid #ccc;height:28px;line-height:28px;float:left;padding-left:10px;width:495px;}.concordance_bottom .search_form a {float:left;}
.concordance_bottom .search_form .search_btn {background:url(/images/bg_search_btn.png) no-repeat 0 0;height:29px;margin:1px 12px 0 8px;width:78px;}
.concordance_bottom .search_form .advanced {margin-top:5px;margin-top:6px\9;}

.list_feedback_panel {border:1px solid #e0e0e0;margin-bottom:10px;padding:11px 15px;width:728px;}
.list_feedback_panel p {color:#404040;height:18px;overflow:hidden;padding:1px 0;position:relative;padding:2px 0 0\9;}
.list_feedback_panel p span {display:inline-block;padding-left:25px;}
.list_feedback_panel p .icon {background:url(/images/bg_feedback.png) no-repeat 0 -25px;height:18px;padding-left:4px;position:absolute;top:0;width:20px;}
.list_feedback_panel p a {padding:0 5px;}
.list_feedback_panel .feedback_form{padding:11px 0 0 22px;}
.list_feedback_panel .feedback_form textarea {background:none;border:1px solid #ddd;overflow-x:hidden;height:58px;padding:4px 9px;width:542px;resize:none}
.list_feedback_panel .feedback_form .default {color:#878787;}
.list_feedback_panel .feedback_form .btn_panel {height:24px;padding-top:8px;overflow:hidden;}
.list_feedback_panel .feedback_form .btn_panel a {background:url(/images/bg_feedback.png) no-repeat right 0;display:inline-block;margin-right:10px;padding-right:12px;}
.list_feedback_panel .feedback_form .btn_panel a:hover {text-decoration:none;}
.list_feedback_panel .feedback_form .btn_panel a span,.list_feedback_panel .feedback_form .btn_panel a:hover span {background:url(/images/bg_feedback.png) no-repeat -95px -25px;color:#404040;cursor:pointer;display:inline-block;height:18px;padding:3px 0 3px 13px;padding:4px 0 2px 13px\9; }

.search_feedback_panel {border:1px solid #e0e0e0;margin-bottom:10px;padding:11px 40px;width:678px;}
.search_feedback_panel p {color:#404040;height:24px;overflow:hidden;padding:1px 0;position:relative;padding:2px 0 0\9;}
.search_feedback_panel p span {display:inline-block;padding:3px 0 3px 15px;}
.search_feedback_panel p .tip {font-weight:bold;padding:3px 0 3px 25px;}
.search_feedback_panel p .icon {background:url(/images/bg_feedback.png) no-repeat 0 -25px;height:18px;padding-left:4px;position:absolute;top:4px;width:20px;}
.search_feedback_panel p .btn {background:url(/images/bg_feedback.png) no-repeat right 0;display:inline-block;margin-left:10px;padding-right:12px;}
.search_feedback_panel p a.btn:hover {text-decoration:none;}
.search_feedback_panel p a.btn span,.search_feedback_panel p a.btn:hover span {background:url(/images/bg_feedback.png) no-repeat -95px -25px;color:#404040;cursor:pointer;display:inline-block;height:18px;padding:3px 0 3px 13px;padding:4px 0 2px 13px\9; }
.search_feedback_panel .feedback_form{padding:11px 0 0 22px;}
.search_feedback_panel .feedback_form textarea {background:none;border:1px solid #ddd;overflow-x:hidden;height:58px;padding:4px 9px;width:542px;resize:none}
.search_feedback_panel .feedback_form .default {color:#878787;}
.search_feedback_panel .feedback_form .btn_panel {height:24px;padding-top:8px;overflow:hidden;}
.search_feedback_panel .feedback_form .btn_panel a {background:url(/images/bg_feedback.png) no-repeat right 0;display:inline-block;margin-right:10px;padding-right:12px;}
.search_feedback_panel .feedback_form .btn_panel a:hover {text-decoration:none;}
.search_feedback_panel .feedback_form .btn_panel a span,.list_feedback_panel .feedback_form .btn_panel a:hover span {background:url(/images/bg_feedback.png) no-repeat -95px -25px;color:#404040;cursor:pointer;display:inline-block;height:18px;padding:3px 0 3px 13px;padding:4px 0 2px 13px\9; }


.recommend_panel {border:1px solid #dbdbdb;height:294px;position:relative;width:758px;}
.recommend_panel .corner {background:url(/images/bg_recommend.png) no-repeat;position:absolute;}
.recommend_panel .left_top {background-position:0 0px;height:6px;left:-1px;top:-1px;width:6px;}
.recommend_panel .right_top {background-position:-6px 0;height:6px;right:-1px;top:-1px;width:6px;}
.recommend_panel .left_bottom {background-position:0 -6px;height:6px;bottom:-1px;left:-1px;width:6px;}
.recommend_panel .right_bottom {background-position:-6px -6px;height:6px;bottom:-1px;right:-1px;width:6px;}
.recommend_panel .btn {background:url(/images/bg_recommend.png) no-repeat;display:block;height:60px;overflow:hidden;position:absolute;top:96px;width:17px;}
.recommend_panel .btn_prev {background-position:0 -72px;left:0;}
.recommend_panel .btn_next {background-position:0 -132px;right:0;}
.recommend_panel .bof {background-position:0 -12px;cursor:default;left:0;}
.recommend_panel .eof {background-position:0 -192px;cursor:default;right:0;}
.recommend_panel .title {height:18px;overflow:hidden;padding:16px 23px 1px 23px;padding:17px 23px 0 23px\9;}
.recommend_panel .title h2 {color:#853200;font-size:14px;font-weight:bold;float:left;}
.recommend_panel .title .tip {color:#878787;float:right;}
.recommend_panel .title .tip a {margin-left:15px;}
.recommend_panel .recommend_content {padding:0 26px;}
.recommend_panel .recommend_content .listitem {float:left;padding:7px 11px 0;width:152px;}
.recommend_panel .recommend_content p {width:150px;padding:0 1px}
.recommend_panel .recommend_content .pic {height:150px;}
.recommend_panel .recommend_content .pic a {display:block;height:150px;overflow:hidden;text-align:center;width:150px;}
.recommend_panel .recommend_content .name {height:36px;overflow:hidden;margin-top:8px;}
.recommend_panel .recommend_content .price {height:18px;overflow:hidden;}
.recommend_panel .recommend_content .price_d {color:#c30;font-family:Arial;font-weight:bold;}
.recommend_panel .recommend_content .price_d em {padding-left:1px;}
.recommend_panel .recommend_content .price_m {background:url(/images/bg_price_del.png) repeat-x 0 9px;color:#9c9c9c;font-family:Arial;margin-left:5px;}
.recommend_panel .recommend_content .comment {background:#ececec;height:18px;padding:3px 0 2px;position:relative;width:152px;padding:4px 0 1px\9;}
.recommend_panel .recommend_content .comment a {margin-left:15px;}
.recommend_panel .recommend_content .comment span {color:#404040;margin-left:15px;}
.recommend_panel .recommend_content .comment .comment_star {position:relative;margin-left:5px;top:2px;}
.recommend_panel .recommend_content .comment .corner {background:url(/images/bg_recommend.png) no-repeat;display:block;height:2px;margin:0;position:absolute;width:2px;}
.recommend_panel .recommend_content .comment .left_top {background-position:-12px 0;left:0;top:0;}
.recommend_panel .recommend_content .comment .right_top {background-position:-15px 0;right:0;top:0;}
.recommend_panel .recommend_content .comment .left_bottom {background-position:-12px -6px;left:0;bottom:0;}
.recommend_panel .recommend_content .comment .right_bottom {background-position:-15px -6px;right:0;bottom:0;}


/*水平轮转*/
.search_tabad{ margin:10px 0 0; overflow:hidden; position:relative;width:758px; height:74px; border:1px solid #dcdddd;}
.leveltab_title{ position:absolute; left:0px; top:5px;}
.leveltab_title a{ width:68px;display:block;line-height:31px; height:31px; text-align:center; background-color:#D6D6D6; margin-top:1px; text-decoration:none;color:#404040; overflow:hidden;}
.leveltab_title a.active,.leveltab_title a:hover{font-weight:bold;background:url(/images/sprite_ad.png) no-repeat right -30px;padding-right:5px;color:#404040;text-decoration:none;}


.no_result {height:190px;overflow:hidden;width:760px;}
.no_result p {background:url(/images/sorry.png) no-repeat 0 0;height:80px;line-height:70px;margin:50px 0 0 90px;padding-left:116px;}
.no_result p span {font-weight:bold;font-size:14px;}

.loading_panel {background:url(/images/loading.gif) no-repeat center center;height:100px;overflow:hidden;width:190px;}

.fixedbar {left:50%;margin-left:490px;position:fixed;top:273px;_position:absolute;_top:expression(documentElement.scrollTop + 273);}
.survey {line-height:14px;width:19px;}
.window_suspend{ width:19px; background:url(/images/bg_feedback_01.gif) no-repeat 0 0;}
.window_suspend a{ display:block; background:url(/images/bg_feedback_02.gif) no-repeat 0 bottom; width:15px; padding:7px 0 6px 4px; text-decoration:none; font-size:12px; color:#878787;}
.window_suspend a:hover{ color:#f60; text-decoration:none;}

.backtop {height:120px;line-height:14px;margin-top:8px;width:19px;}
.backtop .icon_top{background:url(/images/icon_backtop.png) no-repeat 0 0;display:block;margin-left:2px;height:10px;width:9px;}
.backtop a:hover{ color:#878787; text-decoration:none;}


/*电子书*/
.resultlist .tiplist .e-support { color:#666; height:25px; padding-top:3px;}
.resultlist .tiplist .e-support span { display:inline-block; float:left; height:25px; line-height:25px;}
.resultlist .e-icon { width:152px; text-align:center; height:20px; padding-top:12px;}
.resultlist .e-icon a { display:inline-block; height:20px; width:78px; text-decoration:none;}

/*加图片签20110901*/
.resultlist .pic .pic_tag{ font-size:0; line-height:0; height:54px; width:54px; overflow:hidden;}
